# Ejercicio 1

En una tabla de mortalidad simplificada, se da la siguiente información para una persona de 50 años. Hay una probabilidad de 1.5% de que la persona de 50 años fallezca antes de cumplir 51. Preguntas: Cuál es la probabilidad de que una persona de 50 años sobreviva hasta los 51 años

In [1]:
def calcular_probabilidades(p65, p66=None):
    """
    Calcula la probabilidad de que una persona de 65 años fallezca antes de los 66 y
    la probabilidad de que sobreviva hasta los 67 años.
    
    :param p65: Probabilidad de que una persona de 65 años sobreviva hasta los 66.
    :param p66: Probabilidad de que una persona de 66 años sobreviva hasta los 67. Si no se proporciona, se asume igual a p65.
    :return: Un diccionario con las probabilidades solicitadas.
    """
    # Si no se proporciona p66, se asume que es igual a p65
    if p66 is None:
        p66 = p65
    
    # Probabilidad de fallecer antes de los 66 años
    prob_fallecer_antes_66 = 1 - p65
    
    # Probabilidad de sobrevivir hasta los 67 años
    prob_sobrevivir_hasta_67 = p65 * p66
    
    return {
        "fallecer_antes_66": prob_fallecer_antes_66,
        "sobrevivir_hasta_67": prob_sobrevivir_hasta_67
    }

# Ejemplo de uso con p65 = 0.96
resultado = calcular_probabilidades(0.96)
print("Probabilidad de fallecer antes de los 66 años:", resultado["fallecer_antes_66"])
print("Probabilidad de sobrevivir hasta los 67 años:", resultado["sobrevivir_hasta_67"])

Probabilidad de fallecer antes de los 66 años: 0.040000000000000036
Probabilidad de sobrevivir hasta los 67 años: 0.9216

In [2]:
def calcular_probabilidades_supervivencia(p70, p71, p72):
    """
    Calcula la probabilidad de que una persona de 70 años sobreviva hasta los 72 años
    y la probabilidad de que fallezca antes de cumplir los 72 años.

    :param p70: Probabilidad de que una persona de 70 años sobreviva hasta los 71.
    :param p71: Probabilidad de que una persona de 71 años sobreviva hasta los 72.
    :param p72: Probabilidad de que una persona de 72 años sobreviva hasta los 73.
    :return: Un diccionario con las probabilidades solicitadas.
    """
    # Probabilidad de sobrevivir hasta los 72 años
    prob_sobrevivir_hasta_72 = p70 * p71
    
    # Probabilidad de fallecer antes de cumplir los 72 años
    prob_fallecer_antes_72 = 1 - prob_sobrevivir_hasta_72
    
    return {
        "sobrevivir_hasta_72": prob_sobrevivir_hasta_72,
        "fallecer_antes_72": prob_fallecer_antes_72
    }

# Ejemplo de uso con los valores de la tabla
resultado = calcular_probabilidades_supervivencia(0.95, 0.92, 0.90)
print("Probabilidad de sobrevivir hasta los 72 años:", resultado["sobrevivir_hasta_72"])
print("Probabilidad de fallecer antes de los 72 años:", resultado["fallecer_antes_72"])

Probabilidad de sobrevivir hasta los 72 años: 0.874
Probabilidad de fallecer antes de los 72 años: 0.126

In [3]:
def calcular_probabilidades_mortalidad(p60, q61):
    """
    Calcula la probabilidad de fallecimiento antes de los 61 años (q60) y la probabilidad
    de que una persona de 60 años sobreviva hasta los 62 años.

    :param p60: Probabilidad de que una persona de 60 años sobreviva hasta los 61.
    :param q61: Probabilidad de fallecimiento entre los 61 y 62 años.
    :return: Un diccionario con las probabilidades solicitadas.
    """
    # Probabilidad de fallecer antes de los 61 años (q60)
    q60 = 1 - p60
    
    # Probabilidad de sobrevivir hasta los 62 años
    p61 = 1 - q61
    prob_sobrevivir_hasta_62 = p60 * p61
    
    return {
        "fallecer_antes_61": q60,
        "sobrevivir_hasta_62": prob_sobrevivir_hasta_62
    }

# Ejemplo de uso con los valores dados en el ejercicio
resultado = calcular_probabilidades_mortalidad(0.97, 0.035)
print("Probabilidad de fallecer antes de los 61 años (q60):", resultado["fallecer_antes_61"])
print("Probabilidad de sobrevivir hasta los 62 años:", resultado["sobrevivir_hasta_62"])

Probabilidad de fallecer antes de los 61 años (q60): 0.030000000000000027
Probabilidad de sobrevivir hasta los 62 años: 0.9360499999999999

In [4]:
0.98*0.975

0.9555

# Ejercicio práctico
Suponga que un hombre de 30 años debe aportar el 16% (12% lo asume el empleador y 4% la persona) de su salario de 7 millones al Sistema General de Pensiones, para obtener una renta vitalicia mensual dentro de 32 años. A la fecha esta persona no posee un ahorro. 
- Asumiendo una tasa de interés real anual es del 4%. Calcule el ahorro total del hombre cuando cumpla los 62 años. 
- Calcule la renta vitalicia luego de la jubilación a partir del ahorro.

In [20]:
import pandas as pd

# Función para generar la tabla de ahorro mes a mes
def generar_tabla_ahorro_mensual(salario, tasa_aporte, tasa_interes_mensual, meses):
    aporte_mensual = salario * tasa_aporte  # Aporte ya mensual
    saldo_acumulado = 0
    
    tabla_ahorro = []

    for mes in range(1, meses + 1):
        saldo_acumulado = (saldo_acumulado + aporte_mensual) * (1 + tasa_interes_mensual)
        tabla_ahorro.append({"Mes": mes, "Aporte Mensual": int(aporte_mensual), "Saldo Acumulado": int(saldo_acumulado)})

    return pd.DataFrame(tabla_ahorro)

# Parámetros
salario = 7000000
tasa_aporte = 0.16
tasa_interes_mensual = 0.04 / 12  # Tasa mensual ya calculada
meses_aporte = 32 * 12  # 32 años en meses
AA=pd.DataFrame(tabla_ahorro_mensual)

reserva_actuarial=salario*tasa_aporte*meses_aporte

# Generar la tabla de ahorro mensual
tabla_ahorro_mensual = generar_tabla_ahorro_mensual(salario, tasa_aporte, tasa_interes_mensual, meses_aporte)
#Renta_vitalicia= tabla_ahorro_mensual[1]*meses_aporte

# Mostrar la tabla
print(tabla_ahorro_mensual)
print("Reserva Actuarial;",reserva_actuarial)

     Mes  Aporte Mensual  Saldo Acumulado
0      1         1120000          1123733
1      2         1120000          2251212
2      3         1120000          3382449
3      4         1120000          4517457
4      5         1120000          5656249
..   ...             ...              ...
379  380         1120000        856802262
380  381         1120000        860782003
381  382         1120000        864775010
382  383         1120000        868781327
383  384         1120000        872800998

[384 rows x 3 columns]
Reserva Actuarial; 430080000.0

# Ejemplo

In [6]:
Tmort_h = pd.read_excel('../../TM_hombres.xlsx' )
Tmort_m = pd.read_excel('../../TM_mujeres.xlsx' )

In [7]:
from Tablas_mortalidad import *

In [21]:
ahorro_personal=96000000
total_saldo_acumulado = AA["Saldo Acumulado"].iloc[-1]+ahorro_personal
total_saldo_acumulado

968800998

In [22]:
T_hombre=TMensual(Tmort_h)
T_mujer=TMensual(Tmort_m)

In [23]:
T_hombre.head(15)

            x            l(x)      q(x)      p(x)
0   15.000000  1000000.000000  0.000040  0.999960
1   15.083333   999959.583333  0.000040  0.999960
2   15.166667   999919.166667  0.000040  0.999960
3   15.250000   999878.750000  0.000040  0.999960
4   15.333333   999838.333333  0.000040  0.999960
5   15.416667   999797.916667  0.000040  0.999960
6   15.500000   999757.500000  0.000040  0.999960
7   15.583333   999717.083333  0.000040  0.999960
8   15.666667   999676.666667  0.000040  0.999960
9   15.750000   999636.250000  0.000040  0.999960
10  15.833333   999595.833333  0.000040  0.999960
11  15.916667   999555.416667  0.000040  0.999960
12  16.000000   999515.000000  0.000041  0.999959
13  16.083333   999473.666667  0.000041  0.999959
14  16.166667   999432.333333  0.000041  0.999959

In [10]:
edad_jubilacion = 62
T = tmort_filtered(T_hombre, edad_jubilacion)
T

               x           l(x)      q(x)      p(x)
564    62.000000  897019.000000  0.000766  0.999234
565    62.083333  896331.500000  0.000767  0.999233
566    62.166667  895644.000000  0.000768  0.999232
567    62.250000  894956.500000  0.000768  0.999232
568    62.333333  894269.000000  0.000769  0.999231
...          ...            ...       ...       ...
1136  109.666667     121.333333  0.083104  0.916896
1137  109.750000     111.250000  0.090637  0.909363
1138  109.833333     101.166667  0.099671  0.900329
1139  109.916667      91.083333  0.110704  0.889296
1140  110.000000      81.000000  1.000000  0.000000

[577 rows x 4 columns]

In [11]:
T['n'] = T['x'].apply(lambda x: x-edad_jubilacion)*12
T

C:\Users\elica\AppData\Local\Temp\ipykernel_16224\871829873.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  T['n'] = T['x'].apply(lambda x: x-edad_jubilacion)*12

               x           l(x)      q(x)      p(x)             n
564    62.000000  897019.000000  0.000766  0.999234  4.007461e-12
565    62.083333  896331.500000  0.000767  0.999233  1.000000e+00
566    62.166667  895644.000000  0.000768  0.999232  2.000000e+00
567    62.250000  894956.500000  0.000768  0.999232  3.000000e+00
568    62.333333  894269.000000  0.000769  0.999231  4.000000e+00
...          ...            ...       ...       ...           ...
1136  109.666667     121.333333  0.083104  0.916896  5.720000e+02
1137  109.750000     111.250000  0.090637  0.909363  5.730000e+02
1138  109.833333     101.166667  0.099671  0.900329  5.740000e+02
1139  109.916667      91.083333  0.110704  0.889296  5.750000e+02
1140  110.000000      81.000000  1.000000  0.000000  5.760000e+02

[577 rows x 5 columns]

In [12]:
i = 0.04/12
T['Vn'] = np.ones(len(T))*(1/(1+i))
T['Vn'] = T.apply(lambda row: row['Vn'] ** row['n'], axis = 1)
T

C:\Users\elica\AppData\Local\Temp\ipykernel_16224\1780789525.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  T['Vn'] = np.ones(len(T))*(1/(1+i))
C:\Users\elica\AppData\Local\Temp\ipykernel_16224\1780789525.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  T['Vn'] = T.apply(lambda row: row['Vn'] ** row['n'], axis = 1)

               x           l(x)      q(x)      p(x)             n        Vn
564    62.000000  897019.000000  0.000766  0.999234  4.007461e-12  1.000000
565    62.083333  896331.500000  0.000767  0.999233  1.000000e+00  0.996678
566    62.166667  895644.000000  0.000768  0.999232  2.000000e+00  0.993367
567    62.250000  894956.500000  0.000768  0.999232  3.000000e+00  0.990066
568    62.333333  894269.000000  0.000769  0.999231  4.000000e+00  0.986777
...          ...            ...       ...       ...           ...       ...
1136  109.666667     121.333333  0.083104  0.916896  5.720000e+02  0.149047
1137  109.750000     111.250000  0.090637  0.909363  5.730000e+02  0.148551
1138  109.833333     101.166667  0.099671  0.900329  5.740000e+02  0.148058
1139  109.916667      91.083333  0.110704  0.889296  5.750000e+02  0.147566
1140  110.000000      81.000000  1.000000  0.000000  5.760000e+02  0.147076

[577 rows x 6 columns]

In [13]:
sum_vect = T['p(x)']*T['Vn']
suma = sum_vect.sum()
suma

254.5545084058316

In [24]:
c = total_saldo_acumulado/suma
c

3805868.5507760025